.app-body{
  padding: 1em;
}

.generator-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.generator-div{
  flex: 1 1;
  min-width: 40em;
}

.App{
  display: block;
  padding: 0px;
  margin: 0px;
}